---
import Main from "../layouts/Main.astro";
---

<Main title="Home">
	<div class="flex h-14 w-full lg:w-4/6 min-w-fit mx-auto justify-center">
		<h1 class="text-2xl text-[#0d6ca3]">基于液相质谱的蛋白质组学及抗体/蛋白测序整体解决方案</h1>
	</div>
</Main>
