---
import Main from "../layouts/Main.astro";
---

<Main title="Home">
  <div class="carousel">
    <ul>
      <li class="hidden">
        <div
          class="h-80 transition ease-in-out duration-500"
          style="background-image: url(/images/Newfeaturesbanner_backgroundonly-2.png); background-size: cover;"
        >
          Text
        </div>
      </li>
      <li class="hidden">
        <div
          class="h-80 transition ease-in-out duration-500"
          style="background-image: url(/images/PEAKSABbanner_backgroundonly.png); background-size: cover;"
        >
          Text
        </div>
      </li>
      <li class="hidden">
        <div
          class="h-80 transition ease-in-out duration-500"
          style="background-image: url(/images/PEAKSOnlinebanner_backgroundonly.png); background-size: cover;"
        >
          Text
        </div>
      </li>
      <li class="hidden">
        <div
          class="h-80 transition ease-in-out duration-500"
          style="background-image: url(/images/virus_small.png); background-size: cover;"
        >
          Text
        </div>
      </li>
    </ul>
  </div>
  <div class="flex h-14 w-full lg:w-4/6 min-w-fit mx-auto justify-center">
    <h1 class="text-2xl text-[#0d6ca3]">
      基于液相质谱的蛋白质组学及抗体/蛋白测序整体解决方案
    </h1>
  </div>
</Main>

<script>
  const carousel = document.querySelector(".carousel");
  const slides = carousel.querySelectorAll("li");
  function showSlide(index) {
    slides.forEach((slide, i) => {
      slide.classList.remove("block");
      if (!slide.classList.contains("hidden")) {
        slide.classList.add("hidden");
      }
      if (i === index) {
        slide.classList.remove("hidden");
        slide.classList.add("block");
      }
    });
  }

  let currentIndex = 0;
  showSlide(currentIndex);
  const slideInterval = window.setInterval(() => {
    const index = (currentIndex + 1) % 4;
    showSlide(index);
    currentIndex += 1;
  }, 3000);

  window.addEventListener("beforeunload", function (e) {
	window.clearInterval(slideInterval);
    // var confirmationMessage = "o/";

    // (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    // return confirmationMessage; //Webkit, Safari, Chrome
  });
</script>
