---
---

<header>
    <div class="flex h-14 w-full lg:w-4/6 min-w-fit mx-auto justify-between">
        <img src="./images/icon.png" />
        <div class="flex self-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
                ><path d="M0 0h24v24H0V0z" fill="none"></path><path
                    d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"
                ></path></svg
            >Call Us: 021-60919891
        </div>
    </div>
    <div>
        <nav class="w-full lg:w-4/6 min-w-fit mx-auto">
            <ul class="flex h-10 max-h-10">
                <li class="mr-10 leading-10">首页</li>
                <li class="mr-10 leading-10">
                    <a class="block leading-10" href="#">软件产品</a>
                    <ul class="nav_submenu">
                        <li>link 1</li>
                        <li>link 2</li>
                        <li>link 3</li>
                        <li>link 4</li>
                        <li>link 5</li>
                    </ul>
                </li>
                <li class="mr-10 leading-10">
                    <a class="block leading-10" href="#">技术资源</a>
                    <ul class="nav_submenu">
                        <li>
                            <a href="">Link 1</a>
                            <ul>
                                <li><a href="">Link 11</a></li>
                                <li><a href="">Link 12</a></li>
                                <li><a href="">Link 13</a></li>
                                <li><a href="">Link 14</a></li>
                                <li><a href="">Link 15</a></li>
                                <li><a href="">Link 16</a></li>
                                <li><a href="">Link 17</a></li>
                                <li><a href="">Link 18</a></li>
                                <li><a href="">Link 19</a></li>
                                <li><a href="">Link 10</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Link 2</a>
                            <ul>
                                <li><a href="">Link 21</a></li>
                                <li><a href="">Link 22</a></li>
                                <li><a href="">Link 23</a></li>
                                <li><a href="">Link 24</a></li>
                                <li><a href="">Link 25</a></li>
                                <li><a href="">Link 26</a></li>
                                <li><a href="">Link 27</a></li>
                                <li><a href="">Link 28</a></li>
                                <li><a href="">Link 29</a></li>
                                <li><a href="">Link 20</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Link 3</a>
                            <ul>
                                <li><a href="">Link 31</a></li>
                                <li><a href="">Link 32</a></li>
                                <li><a href="">Link 33</a></li>
                                <li><a href="">Link 34</a></li>
                                <li><a href="">Link 35</a></li>
                                <li><a href="">Link 36</a></li>
                                <li><a href="">Link 37</a></li>
                                <li><a href="">Link 38</a></li>
                                <li><a href="">Link 39</a></li>
                                <li><a href="">Link 30</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mr-10 leading-10">新闻中心</li>
                <li class="mr-10 leading-10">关于我们</li>
                <li class="mr-10 leading-10">联系我们</li>
            </ul>
        </nav>
    </div>
</header>

<style>
    nav {
        background-color: yellowgreen;
    }
    nav a {
        background-color: green;
    }

    a:hover ~ ul.nav_submenu {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 10rem;
        margin-top: -0.1rem;
    }

    .nav_submenu {
        display: none;
    }

    .nav_submenu:hover {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 10rem;
        margin-top: -0.1rem;
    }
</style>
