---
---

<header>
    <div class="flex h-14 w-full lg:w-4/6 min-w-fit mx-auto justify-between">
        <img src="./images/icon.png" />
        <div class="flex self-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
                ><path d="M0 0h24v24H0V0z" fill="none"></path><path
                    d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"
                ></path></svg
            >Call Us: 021-60919891
        </div>
    </div>
    <div>
        <nav class="w-full lg:w-4/6 min-w-fit mx-auto">
            <ul class="flex h-10 max-h-10">
                <li class="mr-10 leading-10">首页</li>
                <li class="mr-10 leading-10">
                    <a class="block leading-10" href="#">软件产品</a>
                    <ul class="nav_submenu">
                        <li class="mr-8">
                            <a>软件解决方案</a>
                            <ul>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-software/"
                                        >What to Select</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/main-page/peaks-studio/"
                                        >PEAKS Studio</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-online/"
                                        >PEAKS Online</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-ab-software/"
                                        >PEAKS AB</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-glycanfinder/"
                                        >PEAKS GlycanFinder</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="mr-8">
                            <a>PEAKS软件模块</a>
                            <ul>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/de-novo-sequencing/"
                                        ><i>de novo</i> Peptide Sequencing</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaksdb/"
                                        >Database Searching</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/deepnovo-peptidome/"
                                        >DeepNovo Peptidome</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-dia-workflow/"
                                        >PEAKS DIA Workflow</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/spectral-library-search/"
                                        >Spectral Library Search</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-ptm/"
                                        >PEAKS PTM</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peptide-mutations-homology-searching/"
                                        >SPIDER</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/quality-control/"
                                        >Automated Quality Control (QC) Tool</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/quantification/"
                                        >PEAKS Q (Add-On)</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/peaks-ims/"
                                        >PEAKS IMS</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mr-10 leading-10">
                    <a class="block leading-10" href="#">技术资源</a>
                    <ul class="nav_submenu">
                        <li class="mr-8">
                            <ul>
                                <a
                                    class="block my-2 font-medium hover:underline"
                                    >Technical Notes</a
                                >
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/walkthrough-tutorials/"
                                        >软件操作速览</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/denovo-tutorial/"
                                        ><span
                                            ><i>de novo</i> Sequencing 介绍</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/dbscoring-tutorial/"
                                        >数据库搜索评分指南</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/fdr-tutorial/"
                                        >错误发现率 (FDR)</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/tutorial-peptide-feature-area/"
                                        >Peptide Feature Area</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/label-free-q/"
                                        >Label-Free 定量</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/quantification-algorithms/"
                                        >定量算法</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/silac-quantification/"
                                        >SILAC 定量方法</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="mr-8">
                            <ul>
                                <a
                                    class="block my-2 font-medium hover:underline"
                                    >Self Help</a
                                >
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/user-manual/"
                                        >用户使用手册</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/amino-acid/"
                                        >氨基酸质量数参考表</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/formats/"
                                        >支持数据格式</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/versions/"
                                        >PEAKS历史版本</a
                                    >
                                </li>
                                <li>
                                    <a href="https://www.deepproteomics.cn/faq/"
                                        >FAQ</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="mr-8">
                            <ul>
                                <a
                                    class="block my-2 font-medium hover:underline"
                                    >技术文章</a
                                >
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/bsi-publications/"
                                        >BSI Publications</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.deepproteomics.cn/user-publications/"
                                        >User Publications</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mr-10 leading-10">新闻中心</li>
                <li class="mr-10 leading-10">关于我们</li>
                <li class="mr-10 leading-10">联系我们</li>
            </ul>
        </nav>
    </div>
</header>

<style>
    :root {
        --background-color: #555;
    }
    nav {
        background-color: var(--background-color);
    }

    a:hover ~ ul.nav_submenu {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 32rem;
        margin-top: -0.25rem;
        font-size: 0.8rem;
        padding: 0 1rem;
        border-radius: 0.25rem;
        background-color: var(--background-color);
    }

    .nav_submenu {
        display: none;
    }

    .nav_submenu:hover {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 32rem;
        margin-top: -0.25rem;
        font-size: 0.8rem;
        padding: 0 1rem;
        border-radius: 0.25rem;
        background-color: var(--background-color);
    }
</style>
